%header
  %nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
      .navbar-header
        / .button{:class=>"navbar-toggle", :data => {"toggle"=>"collapse", "target"=>"#navbar-collapse"}}
        /   %span.sr-only Toggle Navigation
        /   %span.icon-bar
        /   %span.icon-bar
        /   %span.icon-bar
        = link_to root_path, class: "navbar-brand" do
          = image_tag "lapfox-logo.svg", class: "header-image"
