.container
  %h1 Albums
  %hr
  -# Iterate through each album
  .row
    - $count = 0
    - @albums.each do |album|
      -if $count == 4
        .clearfix
        - $count = 0

      .col-md-3
        = link_to album do 
          = image_tag album.large_art_url, width: "100%"
          .album-title
            = album.title
      - $count += 1
  .clearfix
  %h1 Personas
  %hr
  %ul
    -@personas.each do |persona|
      %li= persona
