%header
	%nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				.button{:class=>"navbar-toggle"}
					%span.sr-only Toggle Navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				= link_to 

